.loader{margin:auto;height:100%;width:100%;background:url(../assets/svg/loader.svg);background-size:15rem;background-position:center;background-repeat:no-repeat}
.sound{position:absolute;width:3.6rem;height:3.6rem;background-image:url(../assets/svg/audio.svg);background-size:contain;background-repeat:no-repeat;transition:.3s}.mute{background-image:url(../assets/svg/mute.svg)}
.popup{position:fixed;width:100%;height:100%;background-color:rgba(0,0,0,.5);top:0;left:0;z-index:5;opacity:0;visibility:hidden;transition:all .3s ease 0s}.popup.active{opacity:1;visibility:visible}.popup.active .popup-content{opacity:1}.popup .popup-body{min-height:100%;display:flex;align-items:center;justify-content:center;padding:3rem 1rem}.popup .popup-close{position:absolute;top:2.5rem;right:2.5rem;width:2.5rem;height:2.5rem;background-image:url(../assets/svg/close.svg);background-size:cover;cursor:pointer}.popup .popup-content{display:flex;flex-direction:column;align-items:center;justify-content:center;padding:2.5rem 10rem;background-color:#135f6d;width:max-content;height:30rem;position:relative;transition:all .3s ease 0s;opacity:0}.popup .popup-text{width:100%;margin:2.5rem 0 3.5rem;text-align:center;font-size:3.5rem}.popup .popup-button{text-align:center;border:#fff solid 1px;width:17rem;height:5rem;font-size:3rem}
.error{width:100%;height:100%;display:flex;flex-direction:column;justify-content:center;align-items:center}.error h1{font-size:6rem;margin-bottom:1.5rem}.error p{font-size:3rem}
.main-container{margin:auto;min-height:62.8rem;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:2rem;width:100%}@media(max-width: 540px){.main-container{min-height:45rem}}.main-container .main-title{padding:6.5rem 0;width:59.3rem;font-size:5.3rem;text-transform:uppercase;margin-bottom:19rem}@media(max-width: 540px){.main-container .main-title{width:40rem}}.main-container .main-button{line-height:5.4rem;width:32rem;height:5.4rem;font-size:2.4rem;font-family:sans-serif}.main-container .main-button,.main-container .main-title{background:radial-gradient(rgba(36, 197, 219, 0.1) 0%, rgba(36, 197, 219, 0.2) 100%);backdrop-filter:blur(6px);border:#24c5db solid 1px;border-radius:3rem;text-align:center}.main-container .main-bauble-container{position:absolute;flex-direction:column;justify-content:flex-end;align-items:center;z-index:-1}@media(max-width: 540px){.main-container .main-bauble-container{display:none}}.main-container .big-bauble-container{top:0;left:calc(50% - 55rem);width:41.8rem;height:76.8rem}@media(max-width: 1050px){.main-container .big-bauble-container{left:calc(50% - 40rem)}}.main-container .small-bauble-container{top:9.5rem;left:calc(50% + 10rem);width:24.6rem;height:44.6rem}.main-container .main-bauble{width:100%;height:55%;background-image:url(../assets/ball/1.png);background-repeat:no-repeat;background-size:contain;background-position:center}.main-container .thread{margin:auto;height:35%;width:2px;background-color:#b6a999}
.select{width:4.8rem;height:6rem;background-image:url(../assets/svg/ball-2.svg);background-size:4.8rem 6rem;background-position:left -0.8rem;background-repeat:no-repeat;transition:.3s}.select span{display:inline-block;min-width:4rem;height:4rem;margin-top:1rem;margin-left:.4rem;border-radius:50%;text-align:center;line-height:4rem;font-size:2rem;background-color:#24c5db}.search{outline:0;width:25.3rem;height:3.6rem;padding:.3rem 5rem .3rem 1.5rem;border-radius:2rem;border:1px solid #24c5db;color:#fff;font-size:1.8rem;background-color:rgba(31,112,127,.3);background-image:url(../assets/svg/search.svg);background-size:2.4rem;background-repeat:no-repeat;background-position:21rem center;backdrop-filter:blur(6px)}input::placeholder{color:#fff}.filters,.sort,.header-settings{width:48rem;padding:1rem 2rem;backdrop-filter:blur(6px)}.header-settings{display:flex;align-items:center;justify-content:space-between;padding-top:5rem;padding-bottom:4rem}.settings{margin-right:3.6rem;height:fit-content;background-color:rgba(31,112,127,.3);backdrop-filter:blur(6px)}@media(max-width: 550px){.settings{display:flex;flex-direction:column;justify-content:center;align-items:center;margin:0}}.sort,.bauble-buttons-container{display:flex;align-items:center;justify-content:space-between}.title{width:100%;padding:5rem 0 3.6rem;text-transform:uppercase;font-size:4.2rem;text-align:center}.settings-title{display:block;font-size:2rem;height:6rem;line-height:6rem;text-transform:uppercase}.settings-text{font-size:1.8rem;line-height:3.5rem}.sort-select{appearance:none;outline:0;font:inherit;width:30rem;height:4rem;padding:.5rem 2.5rem;margin:1rem 0;background-color:rgba(31,112,127,.3);background-image:url(../assets/svg/arrow-down.svg);background-size:2rem;background-repeat:no-repeat;background-position:262px center;backdrop-filter:blur(6px);border-radius:2rem;border:#24c5db solid 1px;font-size:1.8rem;line-height:2.8rem;color:#fff;cursor:pointer}.sort-select option{color:inherit;background-color:#183e42}input[type=range]{margin:1rem}output{margin:1rem 0;display:inline-flex;justify-content:center;align-items:center;min-width:8rem;height:4rem}.sound{top:6rem;left:2rem}.sound:hover{filter:invert(20%);border:none !important}.slider{display:inline-block;height:.6rem;width:90%}.slider-container{margin-top:2rem;display:flex;flex-direction:column;align-items:center;justify-content:space-between}.output-container{width:100%;display:flex;justify-content:space-between}.shape,.color,.size{display:flex;align-items:center}.shape button{position:relative;width:4rem;height:4rem;margin:1rem .7rem;border:0;outline:0;background-color:rgba(0,0,0,0);background-size:contain;background-repeat:no-repeat;background-position:center center;cursor:pointer;transition:.3s}.shape button:nth-child(5){width:5rem}.shape button:hover{filter:invert(20%)}.shape button.active{filter:invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%)}.shape button:nth-child(1){background-image:url(../assets/svg/ball.svg);margin-left:2rem}.shape button:nth-child(2){background-image:url(../assets/svg/bell.svg)}.shape button:nth-child(3){background-image:url(../assets/svg/cone.svg)}.shape button:nth-child(4){background-image:url(../assets/svg/snowflake.svg)}.shape button:nth-child(5){background-image:url(../assets/svg/toy.svg)}.color button{position:relative;width:3rem;height:3rem;margin:1.5rem 1rem;border:#24c5db solid 1px;border-radius:.5rem;outline:0;background-color:rgba(0,0,0,0);cursor:pointer;transition:.3s}.color button:hover{border-color:#fff}.color button.active:nth-child(1){border-color:#fff}.color button.active:nth-child(2){border-color:#fdd700}.color button.active:nth-child(3){border-color:#fd0000}.color button.active:nth-child(4){border-color:#2199eb}.color button.active:nth-child(5){border-color:#08aa05}.color button.active::after{content:"";display:block;position:absolute;top:.5rem;left:.9rem;width:.6rem;height:1rem;border:solid #000;border-width:0 .4rem .4rem 0;transform:rotate(45deg)}.color button:nth-child(1){background-color:#fff;margin-left:2rem}.color button:nth-child(2){background-color:#fdd700}.color button:nth-child(3){background-color:#fd0000}.color button:nth-child(4){background-color:#2199eb}.color button:nth-child(5){background-color:#08aa05}.size button{position:relative;width:5rem;height:5rem;margin:.5rem .5rem;border:0;outline:0;background-image:url(../assets/svg/ball.svg);background-color:rgba(0,0,0,0);background-size:contain;background-repeat:no-repeat;background-position:center center;cursor:pointer;transition:.3s}.size button:hover{filter:invert(20%)}.size button.active{filter:invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%)}.size button:nth-child(1){margin-left:2rem}.size button:nth-child(2){background-size:4rem 4rem}.size button:nth-child(3){background-size:32px 32px;margin-left:0}.favorite-container,.form-group{display:flex;align-items:center;height:6rem;margin:0}.favorite-input{width:initial;height:initial;display:none}.favorite-input-label{position:relative;display:flex;width:3rem;height:3rem;margin-right:1.5rem;backdrop-filter:blur(6px);border:1px solid #24c5db;border-radius:.5rem;cursor:pointer;transition:.5s}.favorite-input-label:hover{background-color:#24c5db}.favorite-input:checked+.favorite-input-label{background-color:#24c5db;border-color:#24c5db}.favorite-input:checked+.favorite-input-label::after{content:"";display:block;position:absolute;top:.5rem;left:.9rem;width:.6rem;height:1rem;border:solid #000;border-width:0 .4rem .4rem 0;transform:rotate(45deg)}.bauble-button{width:20rem;height:3.6rem;margin:1rem 0 5rem;border-radius:2rem;border:#24c5db solid 1px;cursor:pointer;font-size:2rem;text-align:center}.noUi-handle{width:2rem !important;height:2rem !important;border-radius:10rem !important;cursor:pointer !important}.noUi-horizontal{height:.6rem !important}.noUi-handle:before,.noUi-handle:after{display:none !important}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #3FB8AF;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.bauble-container{margin-bottom:3.6rem;background-color:rgba(31,112,127,.3);backdrop-filter:blur(6px);border-radius:1rem;cursor:pointer}.bauble-container p{font-size:1.6rem;padding:.5rem 0 0 2rem}.bauble-container h3{font-size:1.8rem;padding-top:.5rem;text-align:center}.bauble-container .bauble-img{display:block;margin:1rem auto;height:10.7rem}.bauble-container .bookmark{width:10rem;height:3rem;background-image:url(../assets/svg/bookmark.svg);background-repeat:no-repeat;background-size:cover;background-position:bottom;transition:.3s}.bauble-container .marked{background-image:url(../assets/svg/bookmark-marked.svg)}.bauble-container.active{width:22.2rem;height:35.5rem;border:#24c5db solid 1px}.bauble-container:hover{border:#fff solid 1px}
.baubles-container{display:flex;flex-wrap:wrap;column-gap:2rem;width:100%;max-height:calc(100% - 14rem)}
.baubles-page-container{position:relative;display:flex;overflow:auto}@media(max-width: 550px){.baubles-page-container{flex-direction:column}}
.main-tree-container{position:relative;display:flex;justify-content:center;align-items:flex-end;background-image:url(../assets/bg/1.jpg);background-size:cover;background-position:center;height:80rem;width:80rem;padding-bottom:2rem;overflow:hidden;transition:background-image 1s ease-in-out}@media(max-width: 620px){.main-tree-container{order:3;width:100%}}.main-tree-container .droppable{position:absolute}.main-tree-container .droppable1{width:40rem;height:30rem}.main-tree-container .droppable2{bottom:30rem;width:25rem;height:30rem}.main-tree-container .droppable3{bottom:60rem;width:12rem;height:12rem}.main-tree-container .main-tree{display:block;width:50rem;height:71.4rem}.main-tree-container .snow{background-image:url(../assets/svg/snow.svg);background-size:contain;position:absolute;top:0;animation-iteration-count:infinite;animation-timing-function:linear;animation-duration:15s;animation-name:fall}.main-tree-container .garland-tree-container{display:flex;justify-content:center;height:calc(100vh - 14rem);width:80rem;position:absolute;top:2rem;left:50%;margin-left:-40rem;pointer-events:none;z-index:90;overflow:hidden;visibility:visible}.main-tree-container .lightrope{white-space:nowrap;overflow:hidden;position:absolute;z-index:1;margin:0;padding:0;pointer-events:none;border-radius:50%;padding:0;list-style:none;margin:5rem auto 0}.main-tree-container .lightrope li{position:absolute;top:50%;left:50%;margin:0;padding:0;list-style:none;width:.5rem;height:.5rem;border-radius:50%;margin:-0.5rem;animation-fill-mode:both;animation-iteration-count:infinite;animation-duration:2s}.main-tree-container .lightrope li:nth-child(2n+1){animation-duration:1.8s}.main-tree-container .lightrope li:nth-child(4n+2){animation-duration:1.1s}.main-tree-container .lightrope li:nth-child(3n+1){animation-duration:1.4s}.main-tree-container .garland-tree-container.multicolor>.lightrope li:nth-child(1n+1){animation-name:red}.main-tree-container .garland-tree-container.multicolor>.lightrope li:nth-child(2n+2){animation-name:green}.main-tree-container .garland-tree-container.multicolor>.lightrope li:nth-child(3n+3){animation-name:blue}.main-tree-container .garland-tree-container.multicolor>.lightrope li:nth-child(4n+4){animation-name:#ff0}.main-tree-container .garland-tree-container.blue>.lightrope li{animation-name:blue}.main-tree-container .garland-tree-container.green>.lightrope li{animation-name:green}.main-tree-container .garland-tree-container.yellow>.lightrope li{animation-name:#ff0}.main-tree-container .garland-tree-container.red>.lightrope li{animation-name:red}.main-tree-container .garland-tree-container.hidden{visibility:hidden}@keyframes fall{0%{transform:translate3d(0, 0, 0)}100%{transform:translate3d(78rem, 78rem, 0)}}@keyframes green{0%,100%{background:#00f7a5;box-shadow:0 2px 12px 2px #00f7a5}50%{background:rgba(0,247,165,.4);box-shadow:0 2px 12px 2px rgba(0,247,165,.2)}}@keyframes blue{0%,100%{background:aqua;box-shadow:0 2px 12px 2px aqua}50%{background:rgba(0,255,255,.4);box-shadow:0 2px 12px 2px rgba(0,255,255,.2)}}@keyframes red{0%,100%{background:#f70076;box-shadow:0 2px 12px 2px #f70076}50%{background:rgba(247,0,118,.4);box-shadow:0 2px 12px 2px rgba(247,0,118,.2)}}@keyframes yellow{0%,100%{background:#ff0;box-shadow:0 2px 12px 2px #ff0}50%{background:rgba(255,255,0,.4);box-shadow:0 2px 12px 2px rgba(255,255,0,.2)}}
.snow-audio-container .sound{position:relative;width:4rem;height:4rem;left:0;top:0}.snow-audio-container .sound:hover,.snow-audio-container .snow-control:hover{filter:invert(20%);border:none}.snow-audio-container .snow-control{width:4rem;height:4rem;background-size:contain;background-repeat:no-repeat;background-position:center;cursor:pointer;transition:.3s;margin-left:4rem;background-image:url(../assets/svg/snow.svg)}.snow-audio-container .snow-control.active{filter:saturate(1.5) brightness(0.8)}.menu-item{width:8rem;height:8rem;gap:2rem;border:#24c5db solid 1px;background-size:cover;background-repeat:no-repeat;background-position:center;cursor:pointer;transition:.3s}.menu-item:hover{border:#fff solid 1px}.bg{width:6.5rem;height:6.5rem;border-radius:1rem;opacity:.6;background-size:cover;background-repeat:no-repeat;background-position:center;cursor:pointer}.bg:nth-child(1){background-image:url(../assets/bg/1.jpg)}.bg:nth-child(2){background-image:url(../assets/bg/2.jpg)}.bg:nth-child(3){background-image:url(../assets/bg/3.jpg)}.bg:nth-child(4){background-image:url(../assets/bg/4.jpg)}.bg:nth-child(5){background-image:url(../assets/bg/5.jpg)}.bg:nth-child(6){background-image:url(../assets/bg/6.jpg)}.bg:nth-child(7){background-image:url(../assets/bg/7.jpg)}.bg:nth-child(8){background-image:url(../assets/bg/8.jpg)}.bg:nth-child(9){background-image:url(../assets/bg/9.jpg)}.bg:nth-child(10){background-image:url(../assets/bg/10.jpg)}.tree{width:11.5rem;height:11.5rem;border-radius:1rem;background-color:rgba(255,255,255,.5);background-size:auto 11rem}.tree:nth-child(1){background-image:url(../assets/tree/1.png)}.tree:nth-child(2){background-image:url(../assets/tree/2.png)}.tree:nth-child(3){background-image:url(../assets/tree/3.png)}.tree:nth-child(4){background-image:url(../assets/tree/4.png)}.tree:nth-child(5){background-image:url(../assets/tree/5.png)}.tree:nth-child(6){background-image:url(../assets/tree/6.png)}.garland-container{display:flex;justify-content:space-between;align-items:center;width:36rem}.garland-btns{display:flex;justify-content:space-between;align-items:center;width:25rem;padding:1rem}.color-btn{width:2.4rem;height:2.4rem;border-radius:50%}.multicolor-btn{background:linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);box-shadow:rgba(0,0,0,.2) 0 -1px 7px 1px,inset #441313 0 -1px 9px,#ccc 0 2px 12px}.red-btn{background-color:red;box-shadow:rgba(0,0,0,.2) 0 -1px 7px 1px,inset #441313 0 -1px 9px,rgba(255,0,0,.5) 0 2px 12px}.yellow-btn{background-color:#ff0;box-shadow:rgba(0,0,0,.2) 0 -1px 7px 1px,inset #808002 0 -1px 9px,#ff0 0 2px 12px}.green-btn{background-color:#abff00;box-shadow:rgba(0,0,0,.2) 0 -1px 7px 1px,inset #304701 0 -1px 9px,#89ff00 0 2px 12px}.blue-btn{background-color:#24e0ff;box-shadow:rgba(0,0,0,.2) 0 -1px 7px 1px,inset #006 0 -1px 9px,#3f8cff 0 2px 14px}.color-btn.active{background:rgba(255,255,255,.8)}.onoffswitch{position:relative;width:8.5rem}.onoffswitch-checkbox{display:none}.onoffswitch-label{display:block;overflow:hidden;cursor:pointer;border:1px solid #999;border-radius:2rem}.onoffswitch-inner{width:200%;margin-left:-100%;transition:margin .3s ease-in 0s}.onoffswitch-inner:before,.onoffswitch-inner:after{float:left;width:50%;height:3rem;padding:0;line-height:3rem;font-size:1.6rem;color:#fff;font-weight:600;box-sizing:border-box}.onoffswitch-inner:before{content:"Вкл";padding-left:5rem;background-color:#237e8f;color:#fff}.onoffswitch-inner:after{content:"Выкл";padding-right:1rem;background-color:#eee;color:#666;text-align:right}.onoffswitch-switch{width:2.6rem;margin:.2rem;background:#fff;border:.2rem solid #999;border-radius:2rem;position:absolute;top:0;bottom:0;right:5.5rem;transition:all .3s ease-in 0s}.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner{margin-left:0}.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch{right:rem}.menu-item.active{border:#fff solid 1px;background-color:rgba(255,255,255,.8)}.bg.active{opacity:1}
.favorites-aside{height:fit-content;width:40rem}@media(max-width: 620px){.favorites-aside{order:2;width:100%}}.favorites-aside .favorites-container{display:flex;flex-wrap:wrap;justify-content:flex-start;align-items:flex-start;align-content:flex-start;gap:1rem;width:100%;padding-top:2.5rem;padding-bottom:2.5rem;padding-left:2.5rem}.favorites-aside .favorites-card{display:flex;justify-content:center;align-items:center;width:8.4rem;height:8.4rem;border-radius:1rem;background-color:rgba(255,255,255,.5)}.favorites-aside .favorites-count{z-index:10;align-self:flex-end;width:2.5rem;height:2.5rem;line-height:2.5rem;text-align:center;padding:0;margin:0;margin-left:6rem;border-radius:1rem;background-color:#24c5db;font-size:1.4rem;font-weight:900}.favorites-card-img{display:block;position:absolute;width:auto;height:6rem;width:6rem;object-fit:contain;cursor:move}
.page-container{display:flex;justify-content:space-between;width:100%;max-width:160rem;margin:0 auto;padding:0}@media(max-width: 620px){.page-container{flex-direction:column}}.page-container .menu-container{display:flex;flex-wrap:wrap;gap:1rem;width:100%;justify-content:flex-start;align-items:flex-start;align-content:flex-start;margin-bottom:2rem}.page-container .favorites-menu{display:flex;flex-wrap:wrap;align-items:flex-start;align-content:flex-start;height:fit-content;width:40rem;padding:2.5rem 1rem 0}@media(max-width: 620px){.page-container .favorites-menu{order:1;width:100%}}.page-container .favorites-container::before,.page-container .bg-container::before,.page-container .tree-container::before,.page-container .garland-container::before{content:"Игрушки";width:100%;font-size:2rem;font-weight:400;padding:1rem;padding-left:0;text-transform:uppercase}.page-container .bg-container::before{content:"Выберите фон"}.page-container .tree-container::before{content:"Выберите ёлку"}.page-container .garland-container::before{content:"Гирлянда"}
.header{display:flex;justify-content:center;align-items:center;background-color:#192f2d;height:9rem;column-gap:3rem}.header .button:hover{filter:invert(20%);border:none}.header .logo{margin-top:1rem;width:3rem;height:4rem;background-image:url(../assets/svg/tree.svg);background-size:contain;background-repeat:no-repeat;cursor:pointer;transition:.3s}.header .logo:hover{filter:invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%)}.header a{position:relative;display:block;font-size:2rem;color:#fff;text-transform:uppercase;text-decoration:none;padding:2rem;transition:.3s}
footer{width:100%;height:9rem;display:flex;align-items:center;justify-content:flex-end;letter-spacing:2px;font-size:2rem;background-color:#192f2d;z-index:2000}footer a{font-size:inherit}footer date{margin:0 2rem}footer p{margin-right:8.4rem}
