.bauble-container {
    margin-bottom: 36px;
    background-color: rgba(31, 112, 127, 0.3);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    cursor: pointer;

    p {
        font-size: 16px;
        padding: 5px 0 0 20px;
    }

    h3 {
        font-size: 18px;
        padding-top: 5px;
        text-align: center;
    }
    .bauble-img {
        display: block;
        margin: 10px auto;
        height: 107px;
    }
    .bookmark {
        width: 100px;
        height: 30px;
        background-image: url('/assets/svg/bookmark.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        transition: 0.3s;
    }
    .marked {
        background-image: url('/assets/svg/bookmark-marked.svg');
    }
    &.active {
        width: 222px;
        height: 355px;
        border: #24c5db solid 1px;
    }

    &:hover {
        border: #ffffff solid 1px;
    }
}
