.bauble-container {
    margin-bottom: 3.6rem;
    background-color: rgba(31, 112, 127, 0.3);
    backdrop-filter: blur(6px);
    border-radius: 1rem;
    cursor: pointer;

    p {
        font-size: 1.6rem;
        padding: 0.5rem 0 0 2rem;
    }

    h3 {
        font-size: 1.8rem;
        padding-top: 0.5rem;
        text-align: center;
    }
    .bauble-img {
        display: block;
        margin: 1rem auto;
        height: 10.7rem;
    }
    .bookmark {
        width: 10rem;
        height: 3rem;
        background-image: url('/assets/svg/bookmark.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        transition: 0.3s;
    }
    .marked {
        background-image: url('/assets/svg/bookmark-marked.svg');
    }
    &.active {
        width: 22.2rem;
        height: 35.5rem;
        border: #24c5db solid 1px;
    }

    &:hover {
        border: #ffffff solid 1px;
    }
}
