.select {
    width: 4.8rem;
    height: 6rem;
    background-image: url('/assets/svg/ball-2.svg');
    background-size: 4.8rem 6rem;
    background-position: left -0.8rem;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.select span {
    display: inline-block;
    min-width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 0.4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    background-color: #24c5db;
}

.search {
    outline: 0;
    width: 25.3rem;
    height: 3.6rem;
    padding: 0.3rem 5rem 0.3rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid #24c5db;
    color: #fff;
    font-size: 1.8rem;
    background-color: rgba(31, 112, 127, 0.3);
    background-image: url('/assets/svg/search.svg');
    background-size: 2.4rem;
    background-repeat: no-repeat;
    background-position: 21rem center;
    backdrop-filter: blur(6px);
}

input::placeholder {
    color: #ffffff;
}
.filters,
.sort,
.header-settings {
    width: 48rem;
    padding: 1rem 2rem;
    backdrop-filter: blur(6px);
}

.header-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.settings {
    margin-right: 3.6rem;
    height: fit-content;
    background-color: rgba(31, 112, 127, 0.3);
    backdrop-filter: blur(6px);
    @media (max-width: 550px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}
.sort,
.bauble-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    width: 100%;
    padding: 5rem 0 3.6rem;
    text-transform: uppercase;
    font-size: 4.2rem;
    text-align: center;
}
.settings-title {
    display: block;
    font-size: 2rem;
    height: 6rem;
    line-height: 6rem;
    text-transform: uppercase;
}

.settings-text {
    font-size: 1.8rem;
    line-height: 3.5rem;
}

.sort-select {
    appearance: none;
    outline: 0;
    font: inherit;
    width: 30rem;
    height: 4rem;
    padding: 0.5rem 2.5rem;
    margin: 1rem 0;
    background-color: rgba(31, 112, 127, 0.3);
    background-image: url('/assets/svg/arrow-down.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 262px center;
    backdrop-filter: blur(6px);
    border-radius: 2rem;
    border: #24c5db solid 1px;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #fff;
    cursor: pointer;
}
.sort-select option {
    color: inherit;
    background-color: #183e42;
}

input[type='range'] {
    margin: 1rem;
}

output {
    margin: 1rem 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 8rem;
    height: 4rem;
}

.sound {
    top: 6rem;
    left: 2rem;
    &:hover {
        filter: invert(20%);
        border: none !important;
    }
}

.slider {
    display: inline-block;
    height: 0.6rem;
    width: 90%;
}

.slider-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.output-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shape,
.color,
.size {
    display: flex;
    align-items: center;
}

.shape button {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin: 1rem 0.7rem;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: 0.3s;
}
.shape button:nth-child(5) {
    width: 5rem;
}
.shape button:hover {
    filter: invert(20%);
}
.shape button.active {
    filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}
.shape button:nth-child(1) {
    background-image: url('/assets/svg/ball.svg');
    margin-left: 2rem;
}
.shape button:nth-child(2) {
    background-image: url('/assets/svg/bell.svg');
}
.shape button:nth-child(3) {
    background-image: url('/assets/svg/cone.svg');
}
.shape button:nth-child(4) {
    background-image: url('/assets/svg/snowflake.svg');
}
.shape button:nth-child(5) {
    background-image: url('/assets/svg/toy.svg');
}

.color button {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin: 1.5rem 1rem;
    border: #24c5db solid 1px;
    border-radius: 0.5rem;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}
.color button:hover {
    border-color: #ffffff;
}
.color button.active:nth-child(1) {
    border-color: #ffffff;
}
.color button.active:nth-child(2) {
    border-color: #fdd700;
}
.color button.active:nth-child(3) {
    border-color: #fd0000;
}
.color button.active:nth-child(4) {
    border-color: #2199eb;
}
.color button.active:nth-child(5) {
    border-color: #08aa05;
}
.color button.active::after {
    content: '';
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 0.9rem;
    width: 0.6rem;
    height: 1rem;
    border: solid #000000;
    border-width: 0 0.4rem 0.4rem 0;
    transform: rotate(45deg);
}

.color button:nth-child(1) {
    background-color: #ffffff;
    margin-left: 2rem;
}
.color button:nth-child(2) {
    background-color: #fdd700;
}
.color button:nth-child(3) {
    background-color: #fd0000;
}
.color button:nth-child(4) {
    background-color: #2199eb;
}
.color button:nth-child(5) {
    background-color: #08aa05;
}

.size button {
    position: relative;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem 0.5rem;
    border: 0;
    outline: 0;
    background-image: url('/assets/svg/ball.svg');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: 0.3s;
}
.size button:hover {
    filter: invert(20%);
}
.size button.active {
    filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}
.size button:nth-child(1) {
    margin-left: 2rem;
}
.size button:nth-child(2) {
    background-size: 4rem 4rem;
}
.size button:nth-child(3) {
    background-size: 32px 32px;
    margin-left: 0;
}

.favorite-container,
.form-group {
    display: flex;
    align-items: center;
    height: 6rem;
    margin: 0;
}

.favorite-input {
    width: initial;
    height: initial;
    display: none;
}

.favorite-input-label {
    position: relative;
    display: flex;
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
    backdrop-filter: blur(6px);
    border: 1px solid #24c5db;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.favorite-input-label:hover {
    background-color: #24c5db;
}

.favorite-input:checked + .favorite-input-label {
    background-color: #24c5db;
    border-color: #24c5db;
}

.favorite-input:checked + .favorite-input-label::after {
    content: '';
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 0.9rem;
    width: 0.6rem;
    height: 1rem;
    border: solid #000000;
    border-width: 0 0.4rem 0.4rem 0;
    transform: rotate(45deg);
}

.bauble-button {
    width: 20rem;
    height: 3.6rem;
    margin: 1rem 0 5rem;
    border-radius: 2rem;
    border: #24c5db solid 1px;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
}

.noUi-handle {
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 10rem !important;
    cursor: pointer !important;
}
.noUi-horizontal {
    height: 0.6rem !important;
}
.noUi-handle:before,
.noUi-handle:after {
    display: none !important;
}
