.page-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;

    .menu-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        margin-bottom: 20px;
    }

    .favorites-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        height: 100%;
        width: 400px;
        padding: 25px 10px 0;
    }

    .favorites-container::before,
    .bg-container::before,
    .tree-container::before,
    .garland-container::before {
        content: 'Игрушки';
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        padding: 10px;
        padding-left: 0;
        text-transform: uppercase;
    }
    
    .bg-container::before {
        content: 'Выберите фон';
    }

    .tree-container::before {
        content: 'Выберите ёлку';
    }

    .garland-container::before {
        content: 'Гирлянда';
    }
}
