footer {
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    letter-spacing: 2px;
    font-size: 2rem; 
    background-color: #192f2d;
    z-index: 2000;
    a {
      font-size: inherit;  
    }
    date {
        margin: 0 2rem;
    }
    p {
        margin-right: 8.4rem;
    }
}
