* {
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
}
html {
    font-size: 5px;
    @media (min-width: 375px) {
        font-size: 7px;
      }
      @media (min-width: 769px) {
        font-size: 10px;
    }
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    font-family: 'Neucha', cursive;
}


#main {
    min-height: calc(100vh - 18rem);
    display: flex;
}

a,
button {
    all: unset;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    border: #ffffff solid 1px;
}

.button:active {
    transform: scale(0.9);
}

.hidden {
    display: none;
}


