.sound {
    position: absolute;
    width: 3.6rem;
    height: 3.6rem;
    background-image: url('/assets/svg/audio.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.mute {
    background-image: url('/assets/svg/mute.svg');
}
